/** @format */
.hero-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-image: url(/public/images/desktop.webp);
  background-position: left top;
  height: 70vh;
  border-radius: 10px 10px 0 0;
  background-color: var(--clr-dark-black);
  max-width: 1920px;
  margin: 0 auto;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
  background-color: var(--clr-dark-black);
  animation: fadeOut 1500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.hero-text {
  display: grid;
  opacity: 0;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  grid-area: 1 / 2 / 2 / 3;
  font-size: var(--fs-700);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  animation: fadeInTop 500ms cubic-bezier(0.76, 0, 0.24, 1) forwards;
  animation-delay: 300ms;
}

.hero-line {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  background-color: var(--clr-black);
  max-width: 1920px;
  margin: 0 auto;
}
.h-line {
  margin-top: -4rem;
  grid-area: 1 / 1 / 2 / 2;
  height: 0px;
  border-right: 2px solid var(--clr-dark-white);
  animation: height 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  animation-delay: 500ms;
}

@media (max-width: 78.125em) {
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url(/public/images/mobile.jpg);
    background-position: left bottom;
  }
  .hero-text {
    text-align: center;
    margin: 0 auto;
    max-width: 75%;
    font-size: var(--fs-900);
  }
  .hero-text {
    padding: 0;
  }
}
