/** @format */
.margin-bottom{
  margin-bottom: 5rem;
}
.articles-title {
  display: grid;
  text-align: center;
  padding: 3rem;
}
.articles-title h1 {
  text-decoration: underline 1px solid var(--clr-accent);
  text-underline-offset: 5px;
  margin-bottom: 0.2rem;
  opacity: 0;
  animation: fadeInTop 500ms cubic-bezier(0.76, 0, 0.24, 1) forwards;
}
.articles-title h2 {
  opacity: 0;
  animation: fadeInTop 500ms cubic-bezier(0.76, 0, 0.24, 1) forwards;
}
.breadcrumholder {
  padding-left: 11rem;
  display: flex;
  opacity: 0;
  animation: fadeInTop 300ms cubic-bezier(0.76, 0, 0.24, 1) forwards;
  animation-delay: 150ms;
}
.crumb {
  display: inline-block;
}
.crumb > * {
  content: '-';
  margin-left: 5px;
}
.crumb:after {
  content: '-';
  margin: 0px 5px 0 5px;
}
.crumb:last-child:after {
  display: none;
}
.crumb Link {
  &:hover {
    color: var(--clr-accent);
  }
}

.articles-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-template-rows: 1fr;
  gap: 2rem;
  padding: 3rem;
}

.eyebrow {
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
}
.lifestyle-cat,
.nutrition-cat,
.fitness-cat {
  border: 1px solid var(--clr-gray);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.067);
  position: relative;
}
.fitness-cat {
  opacity: 0;
  animation: fadeInTop 300ms cubic-bezier(0.76, 0, 0.24, 1) forwards;
  animation-delay: 200ms;
}
.lifestyle-cat {
  opacity: 0;
  animation: fadeInTop 300ms cubic-bezier(0.76, 0, 0.24, 1) forwards;
  animation-delay: 300ms;
}
.nutrition-cat {
  opacity: 0;
  animation: fadeInTop 300ms cubic-bezier(0.76, 0, 0.24, 1) forwards;
  animation-delay: 400ms;
}

.fitness-cat picture img,
.lifestyle-cat picture img,
.nutrition-cat picture img {
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.067);
}
.article-text {
  padding: 3rem;
  height: 350px;
}

.article-btn {
  position: absolute;
  padding: 3rem;
  bottom: 0;
}

.article-line {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.articles-line {
  margin-top: -4rem;
  grid-area: 1 / 1 / 2 / 2;
  height: 0px;
  border-right: 2px solid var(--clr-gray);
  animation: height 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  animation-delay: 500ms;
}

@media (max-width: 45em) {
  .articles-title {
    padding: 3rem 0;
  }
  .breadcrumholder {
    padding-left: 1rem;
  }
  .fitness-cat picture img,
  .lifestyle-cat picture img,
  .nutrition-cat picture img {
    width: 95%;
  }
  .lifestyle-cat,
  .nutrition-cat,
  .fitness-cat {
    position: block;
  }
  .articles-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .article-text {
    padding: 1rem;
    height: auto;
  }
  .article-btn {
    position: relative;
    padding: 3rem 0rem;
    letter-spacing: 0px;
  }
}
